<!--

    JS 有两种方法可以侦测到对象的变化：Object.defineProperty 和 Proxy

    Vue 2.x 用的是 Object.defineProperty，3.x 用的是 Proxy

    --------------------------------

    Vue 双向绑定是通过 “数据劫持” + “发布订阅模式” 实现的

    --------------------------------

    这里实现的功能有：

    input 和 textarea 标签的 v-model
    
    文本的 {{ }} 数据绑定

-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Study Log</title>
    </head>
    <body>
        <div id="app">
            <input v-model="message">
            <div>
                <p>{{ message }}</p>
            </div>
            <input v-model="message">
            <div>
                <br>
                <textarea v-model="message"></textarea>
            </div>
            {{ message }}
            <div>
                <p>{{ number }}</p>
                <input v-model="number">
            </div>
            <div>
                <div>
                    <p>{{ number }}</p>
                </div>
            </div>
        </div>

        <script src="./observer.js"></script>
        <script src="./watcher.js"></script>
        <script src="./compile.js"></script>
        <script src="./vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: '我厉害吗',
                    number: 1234567
                }
            });
        </script>
    </body>
</html>