<!--

    JS 有两种方法可以侦测到对象的变化：Object.defineProperty 和 Proxy

    Vue 2.x 用的是 Object.defineProperty，3.x 用的是 Proxy

    --------------------------------

    Vue 双向绑定是通过 “数据劫持” + “发布订阅模式” 实现的

    --------------------------------

    这里实现的功能有：

    v-modeld、{{ }}

-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Study Log</title>
    </head>
    <body>
        <div id="app">
            <input v-model="message" type="text">
            <div id="div1">
                <p id="pp2">{{ message }}</p>
            </div>
            <input v-model="message" type="text">
        </div>

        <script src="./observer.js"></script>
        <script src="./watcher.js"></script>
        <script src="./compile.js"></script>
        <script src="./vue.js"></script>
        <script>
            let vm = new Vue({
                el: '#app',
                data: {
                    message: 'hello'
                }
            });
        </script>
    </body>
</html>