* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

.container {
    width: 600px;
    height: 400px;
    margin: 100px auto;
    box-shadow: 0 0 5px green;
    overflow: hidden;
}

.container .wrap {
    width: 4200px;
    height: 400px;
    margin-left: 0px;
    transition: 1s;
    overflow: hidden;
}

.container .wrap li {
    float: left;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 1px 1px #f60;
    line-height: 400px;
    text-align: center;
    font-size: 50px;
}